{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>CMS project inf108589</title>
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/base.css" %}">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/" class="navbar-brand">Home</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                        <ul class="nav navbar-nav">
                            <li><a href="/blog/">Blog</a></li>
                            <li><a href="/shop/">Shop</a></li>
                            <li><a href="/admin/">Panel</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="jumbotron">
                <header>
                    <h1>CMS project</h1>
                    <p>inf108589</p>
                </header>
                <p>
                    <a class="btn btn-primary btn-lg" href="/blog/" role="button">Blog</a>
                    <a class="btn btn-primary btn-lg" href="/shop/" role="button">Shop</a>
                    <a class="btn btn-primary btn-lg" href="/admin/" role="button">Panel</a>
                </p>
            </div>
        </div>
    </body>
</html>