{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Products
    {% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="well row">
        <div class="col-sm-3">
            <h3>Categories</h3>
            <div class="list-group">
                <a class="list-group-item" href="{% url "shop:product_list" %}">All</a>
                {% for c in categories %}
                    <a class="{% if product.category.slug == c.slug %}active {% endif %}list-group-item" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-9">
            <h1>
                {{ product.name }}
            </h1>
            <h2>
                <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
            </h2>

            <img src="{% if product.image %}
                {{ product.image.url }}
            {% else %}
                {% static "img/on_image.png" %}
            {% endif %}" alt="" class="img-thumbnail">

            <div>
                <span class="label label-default">{{ product.price }} PLN</span>

                <form action="{% url "cart:cart_add" product.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <button class="btn btn-default" type="submit">Add to cart</button>
                </form>

                {{ product.description|linebreaks }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
