{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Products
    {% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="well row">
        <div class="col-sm-3">
            <h3>Categories</h3>
            <div class="list-group">
                <a class="{% if not category %}active {% endif %}list-group-item" href="{% url "shop:product_list" %}">All</a>
                {% for c in categories %}
                    <a class="{% if category.slug == c.slug %}active {% endif %}list-group-item" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-9">
            <h1>
                {% if category %}
                    {{ category.name }}
                {% else %}
                    Products
                {% endif %}
            </h1>
            <div class="row">
                {% for product in products %}
                    <div class="col-sm-4">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{% if product.image %}
                                {{ product.image.url }}
                            {% else %}
                                {% static "img/on_image.png" %}
                            {% endif %}" alt="" class="img-thumbnail">
                        </a>
                        <div>
                            <a href="{{ product.get_absolute_url }}"><b>{{ product.name }}</b></a><br>
                            <span class="label label-default">{{ product.price }} PLN</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}