{% extends "blog/base.html" %}
{% load staticfiles %}

{% block title %}
    Blog
{% endblock %}

{% block content %}
<article class="container">
    <header>
        <h1>
            {{ post.title }}
        </h1>
    </header>
    <div class="well">
        {{ post.body|safe }}
    </div>
    <footer>
        Opublikowany <time>{{ post.publish }}</time> przez <author>{{ post.author }}</author>
    </footer>
</article>
{% endblock %}