{% extends "blog/base.html" %}
{% load staticfiles %}

{% block title %}
    Blog
{% endblock %}

{% block content %}
<section class="container">
    <header>
        <h1>
            Blog
        </h1>
    </header>
    <div class="bs-docs-section">
        {% for post in posts %}
            <article class="bs-callout bs-callout-info">
                <header>
                    <h2>
                        <a href="{{ post.get_absolute_url }}">
                            {{ post.title }}
                        </a>
                    </h2>
                </header>
                <div>
                    {{ post.body|striptags|safe|truncatewords:30|linebreaks }}
                </div>
                <footer class="text-right">
                    <em>
                        Opublikowany <time>{{ post.publish }}</time> przez <author>{{ post.author }}</author>
                    </em>
                </footer>
            </article>
        {% endfor %}
    </div>
</section>
{% endblock %}