{% extends "shop/base.html" %}
{% load static %}

{% block title %}
Shoping cart
{% endblock %}

{% block content %}
<div class="container">
    <div class="well">
        <h1>Shoping cart</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Count</th>
                    <th>Remove</th>
                    <th>Price</th>
                    <th>Total price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                    {% with product=item.product %}
                        <tr>
                            <td>
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{% if product.image %}
                                        {{ product.image.url }}
                                    {% else %}
                                        {% static "img/no_image.png" %}
                                    {% endif %}" alt="{{ product.name }}" width="200">
                                </a>
                            </td>
                            <td>{{ product.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>
                                <a href="{% url "cart:cart_remove" product.id %}">Remove</a>
                            </td>
                            <td>{{ item.price }} PLN</td>
                            <td>{{ item.total_price }} PLN</td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                <tr>
                    <td>Total price</td>
                    <td colspan="4"></td>
                    <td>{{ cart.get_total_price }} PLN</td>
                </tr>
            </tbody>
        </table>
        <div class="btn-group">
            <a href="{% url "shop:product_list" %}" class="btn btn-success">Continue shoping</a>
            <a href="#" class="btn btn-primary">To cash</a>
        </div>
    </div>
</div>
{% endblock %}
